<div class="row" style="background-color:#f7b855">

	<div class="span4">
		</br>
		<div class="placeholder">
			<%= link_to(image_tag 'logo.png')%>
		</div>
		</br>
		<h1>Giftline</h1>
		<p><h2>Group gifts easy.</h2></p>
		<p><strong>Giftline is where group-getting that deserving someone something great, becomes easy.</strong></p>
			
		<p>Decide, d track and see how your gift organising between any number of people is going. All in the cloud so you don't mis-track, mis-place or forget whose paid and done what.</p>
		</br>
		<div class="btn btn-primary btn-large homepage">
			<%= link_to 'Sign Up Now !', new_user_registration_path %>
		</div>	
					</br></br>
	</div>

	<div class="span8" style="margin-left: auto;
	    					  margin-right: auto;">
		<%= link_to (image_tag 'home-screenshot.png') %>
	</div>

</div>

<div class="row" style="background-color:grey; height:2px;">
</div>

<div class="row" style="padding-top: 20px;">
	<div class="span4">
1-sell
	</div>
	
	<div class="span8">
		<strong> 
		People have used giftline to send more than -1 gifts to their friends, in-house colleagues, and family members!
		</strong>
	</div>
</div>
